name: barberapp_client
description: "Aplicación móvil para BarberApp"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  http: ^1.2.0
  shared_preferences: ^2.5.3       # ✅ Guarda la sesión del usuario
  image_picker: ^1.2.0             # ✅ Permite seleccionar foto de perfil
  path: ^1.9.0
  path_provider: ^2.1.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/scissors.png
